@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

body {
  @apply bg-myMainBack m-0 h-full text-[14px] text-myTextLight font-[inter];
}

a{
    @apply text-myTextLight font-bold
}

button{
    @apply text-myTextLight cursor-pointer border border-myFinish rounded-md px-1 py-0.5 inline-flex items-center justify-center self-center
}

form{
    @apply flex flex-col
}

label{
    @apply flex flex-col my-2
}

input{
    @apply bg-myBack rounded-sm mt-1 p-1 text-myTextHeavy
}

h1{
    @apply text-xl
}

@theme{
    --color-myBack: #CCCCCC;
    --color-myMainBack: #282622;
    --color-myFinish: #767944;
    --color-myTextLight: #9F9399;
    --color-myTextHeavy: #2f2a2a;
    --color-error: #eb1a44;
}