@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-color: #282622;
    margin: 0 0 0 0;
    height: 100%;
    font-size: 14px;
    color: #9F9399;
    font-family: 'Inter', sans-serif;
}

a{
    color: #9F9399;
}

button{
    all: unset;
    color: #9F9399;
    cursor: pointer;
    border: 1px solid #767944;
    border-radius: 5px;
    padding: 5px 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    
}

form label{
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

form input{
    border: none;
    border-radius: 5px;
    margin: 5px 0 0;
    padding: 10px;
    background-color: #CCCCCC;
}

input{
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: #CCCCCC;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #575757;
    border-bottom: 2px solid #5E5E5E;
    padding: 5px;
    margin: 0 0 10px 0;
}

.navbar div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.navbar a{
    color: #9F9399;
    text-decoration: none;
    font-weight: bold;
}

.resources{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 5px 15px;
}

.tile{
    text-decoration: none;
    display: block;
    width: fit-content;
}

.tile li{
    list-style: none;
    background-color: #CCCCCC;
    padding: 60px 50px;
    border-radius: 8px;
    color: #494446;
}

.tile li:hover{
    background-color: #9b9a9a;
}


.pixel-draw{
    
}